
@{
    ViewData["Title"] = "About the Pr Tracker Project";
}

	
	<div>
		<h1>About the Pr Tracker Project</h1>
		<p>
			This project has been created as a safe space 
			for people to make their first commits to an open source project.
			There are some intentional mistakes in the UI to encourage people to make a commit!

		</p>
	</div>