@model AddPrViewModel

@{
	ViewData["Title"] = "Add PR";
}

<h1>Add PR</h1>

<div class="container">
	<form asp-controller="Home" asp-action="Add" method="post">
		<div class="form-group">
			<label asp-for="Owner"></label>
			<input asp-for="Owner" 
			       class="form-control"
			       placeholder="Start typing the Github owner name..."
			       autocomplete="off"/>
			<span asp-validation-for="Owner" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="PrUrl"></label>
			<input asp-for="PrUrl" class="form-control" oninput="processURL()"/>
			<span asp-validation-for="PrUrl" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Repository"></label>
			<input asp-for="Repository" class="form-control"/>
			<span asp-validation-for="Repository" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="PrNumber"></label>
			<input asp-for="PrNumber" class="form-control"/>
			<span asp-validation-for="PrNumber" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
		<button type="button"
		        class="btn btn-secondary"
		        onclick="window.location.href = '/'">
			Cancel
		</button>
	</form>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function() {
			var owners = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: '/api/Search?owner=%QUERY',
					wildcard: '%QUERY',
					rateLimitWait: 500,
					transform: function (response) {
						return response.content;
					}
				}
			});

			$("#Owner").typeahead(null, {
				name: 'owners',
				display: 'name',
				source: owners
			});
		});
	</script>
}