@{
    ViewData["Title"] = "Home Page";
}




    @if (!User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <h1>Welcome to the .NET PR Tracker!</h1>
            <p>We are celebrating valid PRs of any kind, from documentations to aesthetics to, of course, code in any .NET open source project.</p>
            <p>We are following the <a href="https://hacktoberfest.digitalocean.com/details">Hacktoberfest participation rules.</a></p>
            <p>To get started, log in with GitHub at the top of the page and start logging your pull requests!!</p>
        </div>

    }
    else
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        if (ViewData.ContainsKey("Message"))
        {
            <h2>@ViewData["Message"]</h2>
        }
        else
        {
            <div class="text-center">
                <p>Below is a list of all the pull requests you have logged </p>
                @* this will bring back a list of PRs, if there are some. *@
                <a asp-action="Add" asp-controller="Home" class="btn btn-outline-primary">Add a PR</a>
            </div>
        }
    }

