@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-primary">Log In with GitHub</a>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome @User.Identity.Name</h1>
           @* this will bring back a list of PRs, if there are some. *@
        </div>
    }
</div>
