@model Project
@{
	ViewData["Title"] = "Add";
}

<h1>Add a new Project</h1>

<div class="container">
	<form asp-controller="Projects" asp-action="Add" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
		<div class="form-group">
			<label asp-for="Url" class="block text-gray-700 text-sm font-bold mb-2"></label>
			<input asp-for="Url" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
		</div>
		<div class="form-group">
			<label asp-for="Owner" class="block text-gray-700 text-sm font-bold mb-2"></label>
			<input asp-for="Owner" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
		</div>
		<div class="form-group">
			<label asp-for="RepoName" class="block text-gray-700 text-sm font-bold mb-2"></label>
			<input asp-for="RepoName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
		</div>
		<button type="submit" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add</button>
		<button type="button"
				class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
				onclick="window.location.href='/'">
			Cancel
		</button>
	</form>
</div>
